__pycache__/
*.pyc
*.pyo
*.pyd
*.db-journal
.DS_Store
.git/
.github/
.env
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
database.db
frontend/node_modules/
frontend/dist/
icon/
src/
tests/
README.md
archive/
